// Colors
$clr1: #222222;
$clr2: #5F021F;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #eeeeee;

$allA:#aaa;
$allB:#bbb;
$allC:#ccc;
$allD:#ddd;
$allE:#eee;

$all1:#111;
$all2:#222;
$all3:#333;
$all4:#444;
$all5:#555;
$all6:#666;
$all7:#777;
$all8:#888;
$all9:#999;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;